---
layout: default
title: Narita Reyes Ico
home_page: true
extra_fonts:
  - Ronzino-Oblique
---
{% assign featured_projects = site.projects
	| where: 'featured', true
	| sort: 'date'
	| reverse
%}

<div class="featured-grid">
	{% for project in featured_projects %}
		{% if project.images and project.images.size > 0 %}
			<a class="featured-project" href="{{ project.url }}">
				<img
					src="{{ project.images[0] | relative_url }}"
					alt="{{ project.title }}"
				>
				<div class="featured-project-title">
					{{ project.title }}
				</div>
			</a>
		{% endif %}
	{% endfor %}
</div>
