@font-face {
	font-family: "Ronzino";
	src: url("/fonts/Ronzino-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ronzino";
	src: url("/fonts/Ronzino-Oblique.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Ronzino";
	src: url("/fonts/Ronzino-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ronzino";
	src: url("/fonts/Ronzino-MediumOblique.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Ronzino";
	src: url("/fonts/Ronzino-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ronzino";
	src: url("/fonts/Ronzino-BoldOblique.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "PP Playground";
	src: url("/fonts/PPPlayground-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

html {
	scrollbar-gutter: stable;
}

body {
	background-color: white;
	display: flex;
	flex-direction: column;
	font-family: "Ronzino", "Helvetica", "Arial", sans-serif;
	font-size: 1rem;
	color: #443731;
	line-height: 1.4;
	font-kerning: normal;
	max-width: 1680px;
	margin: auto;
	padding-inline: 1rem;
	min-height: 100vh;
}

header {
	padding: 0.8rem 0;
	border-bottom: 1px solid #443731;
}
main {
	margin: 1rem 0 auto;
}
footer {
	margin: 3rem 0 0.8rem;
}
h1 {
	font-size: inherit;
	text-align: left;
	margin: 0 0 3rem;
}
h2 {
	font-size: inherit;
	text-align: left;
	margin: 0.2rem 0 0.4rem;
}

p {
	margin: 0 0 1rem;
	max-width: 560px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
}

a {
	color: #443731;
	text-decoration: underline;
	text-underline-offset: 0.1em;
}

a:hover {
	color: #3300ff;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-underline-offset: 0.1em;
}

.site-title {
	color: #ec5447;
	text-decoration: none;
	font-family:
		"PP Playground", "Edwardian Script ITC", "Snell Roundhand", cursive;
	font-size: 1.6rem;
	display: block;
	width: fit-content;
	margin: 0 0 2rem -0.2em;
	font-feature-settings: "ss02" 1;
}

.site-title .swash {
	font-feature-settings: "swsh" 1;
}

.site-title:hover {
	color: #443731;
	text-decoration: none;
}

.site-title h1 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

.cv {
	max-width: 1120px;
}

.cv time {
	font-variant-numeric: tabular-nums;
}

.cv ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.cv li {
	display: grid;
	margin: 0 0 1rem;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.cv--3col li {
	grid-template-columns: 20% 40% 40%;
}

.cv--2col li {
	grid-template-columns: 20% 80%;
}

.cv li > * {
	padding-right: 16px;
}

.cv li p {
	margin: 0;
}

.footer-text {
	width: fit-content;
	margin: 0 auto;
}

@media (hover: hover) {
	.cv li:hover {
		border-top: 1px solid #443731;
		border-bottom: 1px solid #443731;
	}
}

::selection {
	background: #ec5447;
	color: white;
}

@media screen and (max-width: 768px) {
	.cv--3col li,
	.cv--2col li {
		grid-template-columns: 144px 1fr;
	}

	.cv--3col li > :first-child {
		grid-column: 1;
		grid-row: 1 / span 2;
	}

	.cv--3col li > :nth-child(2),
	.cv--3col li > :nth-child(3) {
		grid-column: 2;
	}
}

@media screen and (max-width: 480px) {
	.cv--3col li,
	.cv--2col li {
		grid-template-columns: 1fr;
	}

	.cv--3col li > :first-child {
		grid-row: auto;
	}

	.cv--3col li > :nth-child(2),
	.cv--3col li > :nth-child(3) {
		grid-column: 1;
	}
	.cv--3col li > :not(:first-child, :nth-child(2)) {
		padding-left: 1.8rem;
	}
}

@media print {
	html {
		font-size: 10pt;
	}
	@page {
		size: letter;
		margin-inline: 0.5in;
	}
	header,
	footer {
		display: none;
	}

	body {
		min-height: 0;
		max-width: none;
		padding-inline: 0;
	}

	main {
		margin: 0;
	}

	.cv li {
		break-inside: avoid;
	}
}
