---
layout: default
extra_fonts:
  - Ronzino-Regular
---
<p style="font-weight: 500; text-transform: uppercase; font-style: italic; margin-bottom: 3rem;"
	><a href="/archive">Archive</a></p
>

<div class="project-layout-default">
	<div class="project-text">
		<h1 class="project-title">{{ page.title }}</h1>
		<p>
			<span style="letter-spacing: 0;">{{ page.date | date: '%b' }}</span>
			<span>{{ page.date | date: '%Y' }}</span>
		</p>
		{% if page.location %}
			<p>{{ page.location }}</p>
		{% endif %}
		{% for field in page['additional-fields'] %}
			<p>{{ field }}</p>
		{% endfor %}
		<div class="project-description">{{ content }}</div>
	</div>
	<div class="project-images">
		{% for image in page.images %}
			<img src="{{ image }}" alt="{{ page.title }}">
		{% endfor %}
	</div>
</div>
